[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pycairo = "*"
pygobject = "*"
patool = "*"

[dev-packages]
install = "*"
flake8 = "*"
autopep8 = "*"
pep8-naming = "*"
flake8-docstrings = "*"
flake8-quotes = "*"

[requires]
python_version = "3.8"
